@import "../../../App.scss";

.aboutCard {
  background-color: $card-background;
  border-radius: 1rem;
  padding: 1.5rem;

  &__icon {
    background-color: $primary;
    padding: 1rem;
    display: inline-block;
    border-radius: 100%;
    margin-block-end: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-block-end: 0.5rem;
  }

  &__subtitle {
    margin-block-end: 0rem;
  }
}
